body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 650px;
    margin: 70px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

header {
    text-align: center;
    margin-bottom: 50px;
    color: #2c3e50;
}

header h1 {
    font-weight: 600;
    font-size: 2.2em;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

input {
    flex: 1;
    padding: 15px;
    border: 2px solid #e1e4e8;
    border-radius: 10px;
    outline: none;
    margin-right: 20px;
    font-size: 1em;
}

button {
    padding: 15px 25px;
    background-color: #a7488a;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #880f5a;
    transform: scale(1.05);
}

.response-section {
    background-color: #f7f9fc;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #e1e4e8;
}

.response-section p {
    font-size: 1.1em;
    line-height: 1.6;
}
